@charset "utf-8";
*{margin: 0;padding: 0;}
        li{list-style: none;}
        .clearfix:after{content: "";display: block;clear: both;}
        a:link{color:#333;text-decoration: none;}
        a:visited{color:#333}
        